body
{
	max-width: 1200px;
	margin: 0px auto;
	padding-top: 10px;
}
#editor
{
	width: 50%;
	height: 700px;
	position: relative;
}
#out
{
	padding-top: 5px;
	padding-left: 2%;
	font-family: monospace;
	font-size: 16px;
	max-width: 500px;
}
#editor, #out
{
	float: left;
}

.display
{
	border-radius: 3px;
	border-style: solid;
	padding: 3px;
	display: inline;
}
#displayContainer
{
	width: 450px;
	height: 110px;
}
#regDisplay
{
	display: inline;
}
#notes
{
	background-image: url("notebook.jpg");
	background-position: left;
	background-repeat: no-repeat;
	width: 550px;
	height: 575px;
}
#notesText
{
	border: none;
	background: transparent;
	font-size: 21px;
	position: relative;
	top: 15px;
	left: 90px;
	width: 460px;
	height: 575px;
}
